################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventMgt/obj
/.vs/EventMgt.slnx
